body {
    width: 100vw;
  	margin: 0 auto;
 	background-color: rgb(249,249, 256);
	padding: 0 20px 20px 20px;
    font-size: 12px;
    font-family: 'Montserrat', monospace;
    overflow: hidden;
}

* {
    border-radius: 0 !important;
}

#main_app {    
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "main main"
    "main main"
    "footer footer"
    "footer footer";
    grid-gap: 20px;
    grid-auto-flow: dense;
    height: 95vh;
}


/* The detector canvases */
#detector-holder{
    grid-area: main;
    display: flex;
    justify-content: center;   
    align-items: center;

}

#detector_core{
    position: absolute;
    z-index: 0;
}

#detector_events{
    position: absolute;
    z-index: 3;
}

#muon-tracker{
    display: none;
}

/* The Level and Wrong displays*/ 

#randomNum{
    display: none;
}

.app_initoutput{
    grid-area: header;
    display: flex;
    flex: row nowrap;
    align-items: center;
    justify-content: space-around;
}

#app_level{
    flex: 1 1 auto;
    float: center;
}

#app_wrong{
    flex: 1 1 auto;
    float: center;
}

.app_levelwrong{
    width: 15px;
}

/* The Input area - buttons and particle display */
.app_input{
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.userParticle{
    flex: 1 1 auto;
}

#userParticle{
    width: 90%;
    height: 100px;
}

.endgame{
    position: absolute;
    align-items: center;
    text-align: center;
    z-index: 5;
}

#missedMessage, #extraMessage{
    text-align: left;
}

    /* The Buttons */
    .inputbuttons{
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 40px);
        grid-template-areas: 
        "photon photon electron electron muon muon"
        "nhadron nhadron nhadron chadron chadron chadron"
        "clear clear submit submit restart restart";
    }

    #photon{
        grid-area: photon;
    }
    #electron{
        grid-area: electron;
    }
    #muon{
        grid-area: muon;
    }    
    #nhadron{
        grid-area: nhadron;
    }
    #chadron{
        grid-area: chadron;
    }
    #clear{
        grid-area: clear;
    }
    #submit{
        grid-area: submit;
    }
    #restart{
        grid-area: restart;
    }

        /* Button style and animation */
        button {
            background: transparent;
            border: 1px dashed rgba(250,250,255,1);
            outline: none;
            cursor: pointer;
            color: rgb(42, 42, 43);
            padding: 8px 30px 9px;
            text-transform: uppercase;
            text-align: center;
            transition-duration: 0.2s;
        }

        button:hover {
            background-color: rgba(200, 200, 210, 1);
        }

        button:active {
            background-color: rgba(150, 150, 160, 1);
            transform: scale(0.9, 0.9);
            transition-duration: 0.2s;
        }

    /* Start button */
    #start{
        align-items: center;
        z-index: 5;
    }
        
/* The surrounding info */

#rules {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: rgb(209, 209, 209);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#subdet{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: rgb(209, 209, 209);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.subdet-info{
    display: none;
    padding-left: 12px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.dropdown_btn{
    width: 100%;
    text-align: left;
    padding-left: 8px;
}

.info .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.panel-heading{
    color: rgb(32, 32, 32);
}

h4{
    font-size: 18px;
    text-align: center;
}

h5{
    font-size: 15px;
    margin-block-end: 0.2em;
}

.panel-title{
    font-family: 'Montserrat';
}

.panel-body{
    color: rgb(73, 73, 73);
    text-align: center;
}

input {
    outline: none;
	border: none;
	margin: 0 0 20px 3px;
	padding: 8px 5px 0px 0;
	background: transparent;
	color: rgb(73, 73, 73);
	font-size: 14px;
    /*border-bottom: 1px dotted rgb(122, 148, 140);*/
    text-align: center;
}
    
#topnav_info{
    float: right;
}

/*Responsive*/
/*Phone*/
@media screen and (max-width: 767px) {
    body{
        font-size: 12px;
    }

    .topnav{
        display: block;
    }

    .col-sm-6{
        width: 100%;
    }
}

@media screen and (orientation:landscape) and (max-width: 991px){
    #main_app {    
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
        "main header"
        "main header"
        "main footer"
        "main footer"
        "main footer"
        "main footer"
        "main footer";
        grid-gap: 20px;
        grid-auto-flow: dense;
        height: 95vh;
    }

    .app_input{
        flex-flow: column nowrap;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) {
    #detector-holder {
        margin-left: -15px;
        margin-right: -15px;
    }

    .info{
        max-width: 384px;
    }
    .col-sm-6{
        width: 100%;
    }

}

/*Small desktop*/
@media screen and (min-width: 992px) {
        
    .topnav{
        display: none;
    }


    #main_app{
        height: 100vh;
    }

    .container_{
        display: flex;  
        justify-content: space-around;
    }    

    #app{
        width: 50%;
    }

    #rules, #subdet{
        flex: 1;
        /*border: 1px solid rgb(170, 170, 170);*/
        background-color: rgb(248,248,255);
        z-index: 9;
        width: 25%;   
    }

    .info .closebtn{
        display: none;
    }
}

/*Large desktop*/
@media screen and (min-width: 1200px) {
    /*Set the detector canvas to 500x500*/
}

