body {
    width: 100vw;
  	margin: 0;
 	background-color: rgb(250, 255, 255);
    font-size: 11px;
    Font-Family: 'Lato', Sans-Serif;
    overflow: hidden;
}

* {
    border-radius: 0 !important;
    box-sizing: border-box;
}

#mobilePortraitContainer{
    display: none;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    padding-top: 50%;
    z-index: 50;
    background-color: white;
}

#mobilePortraitMessage{
    text-align: center;
    margin: auto;
    color: gray;
    font-size: 18px;
    padding: 15px;
}

#startPopup{
    display: flex;
    flex-flow: column nowrap;
    z-index: 4;
    background-color: #ffffff;
    box-shadow: 0 0 5px 5px #bbbbbb;
    align-items: center;
    padding: 10px
}

.difficultyButtons.active{
    background-color: rgb(150, 150, 150);
}
    
#main_app {    
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "main header"
    "main header"
    "main footer"
    "main footer"
    "main footer"
    "main footer"
    "main footer";
    grid-gap: 20px;
    grid-auto-flow: dense;
    height: 95vh;
}

.responsive-canvas{
    height: 70vmin;
    width: 70vmin;      
    max-height: 250px;  
    max-width: 250px;
}

/* The detector canvases */
    #detector-holder{
        grid-area: main;
        display: flex;
        justify-content: center;   
        align-items: center;
        padding: 0 0 20px 20px;
    }

    #detector_core{
        position: absolute;
        z-index: 0;
    }

    #detector_events{
        position: absolute;
        z-index: 3;
    }

    #muon-tracker{
        display: none;
    }

/* The Level and Wrong displays*/ 
    .app_initoutput{
        grid-area: header;
        align-self: self-start;
        display: flex;
        flex-flow: row nowrap;
        background-color: rgba(250,250,250);
        margin: 15px;
        padding: 2%;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
        font-size: 110%;
        z-index: 5;
    }

    #app_level, #app_wrong{
        margin: 8% 2%;
    }

    .app_levelwrong{
        width: 20px;
    }

/* The Input area - buttons and particle display */
    .app_input{
        grid-area: footer;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        z-index: 4;
        background-color: rgb(250,250,250);
        margin: 15px;
        padding: 5%;
        align-self: self-end;
    }

    .userParticle{
        flex: 1 1 30%;
        margin: 0 10px 10px 10px;
    }

    #userParticle{
        width: 90%;
        height: 10vh;
        max-height: 12vh;
        font-size: 100%;
    }

    .endgame{
        position: absolute;
        align-items: center;
        text-align: center;
        z-index: 5;
    }

    #missedMessage, #extraMessage{
        text-align: left;
    }

    /* The Buttons */
        .inputbuttons{
            flex: 2 1 40%;
            width: 95%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, 40px);
            grid-template-areas: 
            "photon photon electron electron muon muon"
            "nhadron nhadron nhadron chadron chadron chadron"
            "clear clear submit submit restart restart";
        }
        
        #photon{
            grid-area: photon;
        }
        #electron{
            grid-area: electron;
        }
        #muon{
            grid-area: muon;
        }    
        #nhadron{
            grid-area: nhadron;
        }
        #chadron{
            grid-area: chadron;
        }
        #clear{
            grid-area: clear;
        }
        #submit{
            grid-area: submit;
        }
        #restart{
            grid-area: restart;
        }

        /* Button style and animation */
            button {
                background: rgba(230,230,230, 0.6);
                border: 1px solid rgba(200,200,215,1);
                cursor: pointer;
                color: rgb(42, 42, 43);
                padding: 3px;
                margin: 3px;
                text-transform: uppercase;
                text-align: center;
                transition-duration: 0.2s;
                font-size: 1.8vmax;
            }

            #clear, #submit, #restart{
                background: rgba(214, 214, 223, 0.9)
            }

            #start{
                position: relative;
                overflow: hidden;
                width: 20vmin;
                height: 8vmin;
                border: 3px solid rgba(255, 255, 255, 0.8);
            }
              
              #start a {
                position: relative;
                transition: all .45s ease-Out;
                font-size: 150%;
              }
              
              #start:hover a {
                color: #292929;
              }

            button:hover {
                background-color: rgb(200, 200, 210);
                transform: scale(0.95, 0.95);
            }

            button:active {
                background-color: rgb(150, 150, 160);
                transform: scale(0.9, 0.9);
            }

            
/* The surrounding info */

.info{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    border-right: 2px solid rgba(200, 200, 200, 0.5);
    border-left: 2px solid rgba(200, 200, 200, 0.5);
    background-color: rgb(252, 252, 252);
    overflow: hidden;
    transition: 0.5s;
    font-size: 150%;
}

.panelBody{
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.info a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 85%;
    text-shadow: 0 0 1px gray;
}

.info a:hover{
    opacity: 0.6;
}

.info a:visited{
    color: #143a4e;
}

/* Left panel */
#menu {
    left: 0;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "rules"
    "links";
}

#left-body{
    height: 100vh;
}

#rulesBody{
    grid-area: rules;
    overflow-y: scroll;
}

#rules-text{
    padding: 10px;
    text-align: center;
}

#linksBody{
    grid-area: links;
    overflow-y: scroll;
}

#linksMain{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.linksHeader{
    font-size: 120%;
    Font-Family: 'Roboto', Sans-Serif;
    padding: 0px 15px;
    margin-bottom: 0px;
}

.linksText{
    padding: 0px 10px;
}

#cernLinks{
    list-style-type: none;
    padding: 0 0 0 8px;
}

#cernLinks a{
    padding-left: 6px;
}

hr.rounded{
    border-top: 8px solid #bbb;
    border-radius: 5px !important;
    width: 90%;
}

#socialLinks{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

.socialLogo{
    width: 4vmax;
    height: 4vmax;
    box-shadow: 0 0 10px 1px lightgray;
}

/* The right panel with subdetector/particle info */
#moreInfo{
    right: 0;
}

/* Tabs for the side panels - for mobile and tablet */
.infoTabsContainer {
    background-color: rgba(240,240,240,0.5);
    display: none;
    width: 49.5%;
    max-width: 384px;
    z-index: 14;
    position: fixed;
    top: 0px;
}

#info_body .infoTabsContainer{
    right: 0px;
}

.infoTabsContainer button {
    background-color: rgba(240,240,240,1);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 2vmax;
    height: 42px;
    margin-bottom: 0px;
}

.infoTabsContainer button:hover {
    background-color: #ddd;
}

.infoTabsContainer button.active {
    background-color: rgba(252, 252, 252, 1);
}

.tabHeader{
    font-size: 150%;
}

.infoTabContent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    margin-top: 40px;
}

.panel-title{
    display: none;        
    background-color: rgb(240, 240, 240);
    border-top: 2px solid rgba(200, 200, 200, 0.5);
    border-bottom: 2px solid rgba(200, 200, 200, 0.5);
    width: 100%;
    justify-content: center;
    position: sticky;
    top: -1px;
    z-index: 14;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Content of the tabs */

    .subdetTab, .particlesTab{
        display: none;
        max-height: 80vh;
        grid-template-areas: 
        "title"
        "main";
    }

    .subdetTab h3, .particlesTab h3{
        grid-area: title;
        max-height: 5vh;
        z-index: 13;
        padding: 0 20px;
        Font-Family: 'Roboto', Sans-Serif;
    }

    .subdetTab .tabText, .particlesTab .tabText{
        grid-area: main;
        margin: 0;
        height: 60vmin;
        z-index: 12;
        padding: 10px 30px 10px 15px;
        text-shadow: 0 0 10px white;
        overflow-y: scroll;
    }

    .subdetImage{
        opacity: 0.65;
        position: absolute;
        right: -70%;
        top: 44px;
        z-index: 10;
        width: 130%;
        max-height: 90vh;
        object-fit: cover;
        object-position: 0% 100%;
    }

    #muonHL{
        opacity: 0.3;
    }

    /* Deal with the tabs on the panel for the particles and subdetectors */
        .nextPrevBtnInfo{
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-areas: 
            "prev tabs next";
            position: absolute;
            width: 100%;
            background-color: rgb(252, 252, 252);
            z-index: 13;
            bottom: 1px;
            height: 50px;
        }

        #prevSubdet, #prevParticle{
            grid-area: prev;
            align-self: center;
        }

        .tabIndicator{
            grid-area: tabs;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #nextSubdet, #nextParticle{
            grid-area: next;
            justify-self: stretch;
            align-self: center;
        }

        .tabButton{
            background-color: rgb(252, 252, 252);
            border: none;
        }


        .subdetStep, .particleStep{
            height: 8px;
            width: 8px;
            background-color: #bbb;
            display: inline-block;
            opacity: 0.5;
        }

        .subdetStep.active, .particleStep.active{
            opacity: 1;
            height: 15px;
            width: 15px;
        }

        .arrow{
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }

        .right{
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        .left{
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

    .info .closebtn{
        position: absolute;
        z-index: 15;
        top: 0;
        right: 5%;
        font-size: 36px;
        margin-left: 50px;
        color: gray;
        text-decoration: none;
    }

    .info .closebtn:hover{
        color: black;
    }

h4{
    margin: 10px 0px;
    font-size: 22px;
    Font-Family: 'Roboto', Sans-Serif;
    text-align: center;
}

input {
    outline: none;
	border: none;
	padding-left: 5px;
	background: transparent;
    text-align: center;
    font-size: 100%;
    color: black;
}

.topnav{
    display: block;
    padding: 10px 40px;
    width: 100vw;
    /*background-color: rgba(220,225,225,0.8);*/
    background-image: linear-gradient(rgba(240,240,240,0.8),rgba(220,220,220,0.8));
    box-shadow: 0 2px 15px 2px #c5c5c5;
    z-index: 20;
}

#topnav_info, #topnav_menu{
    color: black;
    text-decoration: none;
    font-size: 125%;
}

#topnav_info{
    float: right;
}

/*Style for the multi-step introduction*/
    #introPopup {
        background-color: #ffffff;
        box-shadow: 0 0 5px 5px #bbbbbb;
        padding: 40px;
        width: 90vmax;
        height: 92vmin;
        z-index: 20;
        position: fixed;
        top: 4vmin;
        left: 5vmax;        
    }
    
    h1 {
        Font-Family: 'Roboto', Sans-Serif;
        text-align: center;  
        font-size: 150%;
    }
    
    /* Hide all steps by default: */
    .tab {
        display: none;
        grid-template-rows: 1fr 5fr;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: 
        "header header"
        "main image";
        height: 50vh;
    }
    #finalTab{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
    }

    .tab .tabHeader{
        grid-area: header;
        font-size: 140%;
        padding: 0 20px;
        margin: 0px;
    }

    .tab .tabText{
        grid-area: main;
        display: inline;
        margin: 10px;
        overflow-y: scroll;
        height: 40vmin;
    }

    .tabImage{
        grid-area: image;
        width: 40vmax;
        height: 22vmax;
        object-fit: contain;
        align-self: baseline;
        justify-self: center;
        margin: -15px 0 0 0;
    }

    #altStandardModel{
        height: 30vh;
    }

    .nextPrevBtn{
        position: absolute;
        bottom: 4vh;
        right: 3vw;
    }
    
    .popupButton {
        background-color: #1F5673;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        position: sticky;
        bottom: 20px;
        right: 20px;
    }
    
    button:hover {
        opacity: 0.8;
    }
    
    #prevBtn {
        background-color: #bbbbbb;
        right: 150px;
    }

    .introTabs{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }
    
    .step {
        height: 8px;
        width: 16px;
        background-color: #bbbbbb;
        border: none;  
        display: inline-block;
        opacity: 0.5;
    }
    
    .step.active {
        opacity: 1;
        height: 16px;
    }
    
    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #1F5673;
    }

    #closePopup{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: gray;
        text-decoration: none;
    }

    #closePopup:hover{
        color: black;
    }

/*Responsive*/
/*Phone*/
@media screen and (orientation:portrait) and (max-width: 800px) {
    #mobilePortraitContainer{
        display: block;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) {
    body{
        font-size: 13px;
    }
    
    .info{
        max-width: 384px;
    }

    .app_initoutput{
        align-self: self-end;
        font-size: 125%;
    }

    .app_input{
        align-self: self-start;
    }

    .tab .tabText{
        font-size: 150%;
        height: 60vmin;
    }

    .tabImage{
        height: 30vmax;
    }

    .tabHeader{
        margin: 5px;
    }

    .responsive-canvas{
        max-height: 350px;
        max-width: 350px;
    }
}

/*Small desktop*/
@media screen and (min-width: 992px) {

    body{
        font-size: 16px;
    }

    .container_{
        display: flex;  
        justify-content: space-around;
    }  

    .topnav{
        display: none;
    }

    .tabImage{
        height: 35vmax;
    }

    #main_app{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }

    .app_initoutput{
        align-self: stretch;
        height: 15vh;
        background-color: rgba(250,250,250,0.2);
    }

    .app_input{
        flex-flow: row nowrap;
        align-self: center;
    }

    #app{
        width: 50%;
    }

    .info{
        font-size: 100%;
    }

    .infoTabContent{
        display: block;
        flex: 1 1 auto;
        margin-top: 0px;
        padding: 0px;
    }

    #moreInfo .infoTabContent{
        height: 50vh;
    }

    #nextPrevBtnSubdet{
        bottom: 49vh;
    }

    #menu, #moreInfo{
        flex: 1;
        z-index: 9;
        width: 25%;  
    }

    .panel-title{
        display: flex;
    }

    .subdetTab .tabText, .particlesTab .tabText{
        height: 32vmin;
    }

    .info .closebtn{
        display: none;
    }

    button{
        font-size: 1.5vmin;
    }
}

/*Large desktop*/
@media screen and (min-width: 1200px) {
    body{
        font-size: 18px;
    }

    .responsive-canvas{    
        max-height: 500px;  
        max-width: 500px;
    }
}

